<div class="p-2">
    <h1>Article summary</h1> <br>
    <h4>Article - <%= article.title %></h4>
    <p>
        <%= article.body %>
    </p>
    <hr>
    <h5>
        Comments:
    </h5>
    <ul class="list-group">
    <% article.comments.each do |comment| %>
        <li class="list-group-item">
            <b> @<%= comment.user.displayname %> </b> - <%= comment.created_at %> <br>
            <p> <%= comment.body %> </p>
        </li>
    <% end %>
    </ul>
</div>
